################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HouseSellingBot/bin/Debug/net5.0
/HouseSellingBot/obj
/HouseSellingBot/bin/Release/net5.0
/HouseSellingBot/Properties/PublishProfiles
/HouseSellingBot/HouseSellingBot.csproj.user
